.back{
    background-image: url(asset/bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 1300px;
    display:flex;
    position:relative;
}
.play{
   position:absolute;
   top:50%; 
   left:0%;
   text-align: center;
   margin-left:400px ;
 
}
h1{
    text-align: center;
    background-color: rgb(255, 252, 252) ;
    color:rgb(7, 139, 239);
    padding:20px 0px;
    border-radius: 4%;
    opacity: 0.8;
}
audio{

    color: red;
    
}
audio::-webkit-media-controls-panel {
    background-image: linear-gradient(to right, red , yellow);
}
audio::-webkit-media-controls-mute-button {
    background-color: rgb(236, 236, 92);
    border-radius: 50%;}

audio::-webkit-media-controls-play-button{
    background-color: red ;
    border-radius: 50%;
        color: #56AEFF;
  }