.back{
    background-image: url(asset/bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    width: 1300px;
    display:flex;
}
.play{
   margin-top: 380px;
   
   text-align: center;
   margin-left:400px ;
 
}
h1{
    text-align: center;
    
    
    color:rgb(7, 139, 239);
}
audio{

    color: red;
    
}
audio::-webkit-media-controls-panel {
    background-image: linear-gradient(to right, red , yellow);
}
audio::-webkit-media-controls-mute-button {
    background-color: rgb(236, 236, 92);
    border-radius: 50%;}

audio::-webkit-media-controls-play-button{
    background-color: red ;
    border-radius: 50%;
        color: #56AEFF;
  }